Package: com.sharedroutine.palbreak
Name: PalBreak
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Janosch
Author: Janosch
Section: Tweaks
